extends layout

block content
  h1= title
  p Welcome to the game of #{title}
  //- div.ships(style="width:"+(size * 20)+"px;height:"+(size * 20)+"px;")
    for ship in ships
      div.ship(style="top:" + (ship.coords.y * 20) + "px;left:" + (ship.coords.x * 20) + "px;width:" + (ship.size.w * 20) + "px;height:" + (ship.size.h * 20) + "px;")
        h5.ship-name= ship.name
  div.controls
    a.button#reset Reset
    input.input#x(type="number" placeholder="X")
    input.input#y(type="number" placeholder="Y")
    a.button#dropBomb Drop Bomb
  div.settings
    input.input#name(type="text")
    a.button#nameButton Set Name